.posts {
  flex: 9;
  flex-wrap: wrap;
  display: flex;
}

.skeletons {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
}

.skeletonItems {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 400px) {
  .posts {
    max-width: 375px;
  }

  .skeletonItems {
    margin-top: 10;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 420px) {
  .posts {
    max-width: 420px;
  }

  .skeletonItems {
    margin-top: 25;
    margin-left: 0px;
  }
}
